# Preprocessing der Trainingsdaten

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import os
import numpy as np

print("Current working directory: " + os.getcwd())
train_data_path = os.path.join(os.getcwd(), "resources\\train_data\\")
print("Train data path: " + train_data_path)

Current working directory: /content
Train data path: /content/resources\train_data\

In [3]:
print("Current working directory: " + os.getcwd())
train_data_path = os.path.join(os.getcwd(), "drive/MyDrive/WR2 Brrr/Trainingsdaten_Proj3/")
print("Train data path: " + train_data_path)
# collection_path = '/content/drive/MyDrive/WR2 Brrr/Trainingsdaten_Proj3/collection4_train_data_dump.csv'
# collection_param_path = '/content/drive/MyDrive/WR2 Brrr/Trainingsdaten_Proj3/collection4_parameter_dump.csv'

Current working directory: /content
Train data path: /content/drive/MyDrive/WR2 Brrr/Trainingsdaten_Proj3/

## Datensätze laden

In [4]:
df_list = []
param_list = []
train_data_file_names = sorted([name for name in os.listdir(train_data_path) if 'train_data_dump' in name])
parameter_file_names = sorted([name for name in os.listdir(train_data_path) if 'parameter_dump' in name])
print(train_data_file_names)
print(parameter_file_names)

['2022-07-14-05-25-14-train_data_dump.csv', 'collection5_train_data_dump.csv']
['2022-07-14-05-25-14-parameter_dump.csv', 'collection5_parameter_dump.csv']

In [5]:
for ind, (name_train, name_param) in enumerate(zip(train_data_file_names,parameter_file_names)):
    print("Datensatz Nummer " + str(ind+1))
    df_list.append(pd.read_csv(os.path.join(train_data_path, name_train), header = None))
    print(df_list[-1].shape)
    param_list.append(pd.read_csv(os.path.join(train_data_path, name_param), names = ["coefficientType","parameterNames","parameterValues"]))
    print(param_list[-1].shape)
    if param_list[-1].shape[0] > df_list[-1].shape[0]:
        print(param_list[-1].iloc[0,])
        param_list[-1] = param_list[-1].drop(0).reset_index(drop = True)
        print(param_list[-1].shape)

Datensatz Nummer 1
(30000, 4801)
(30000, 3)
Datensatz Nummer 2
(65022, 4801)
(65023, 3)
coefficientType    coefficientType
parameterNames      parameterNames
parameterValues    parameterValues
Name: 0, dtype: object
(65022, 3)

## Assembliere die verschiedenen Ergebnisse anhand der Koeffizientenfunktion

In [ ]:
# Diesen Block nutzen falls es Speicherprobleme gibt. 
# Hier werden erst die Duplikate rausgeschmissen bevor die DataFrame verbunden werden.

# df_base = df_list[0]
# paramdf_base = param_list[0]
# # value_counts_pre_drop = paramdf_base['coefficientType'].value_counts()

# for df, param in zip(df_list[1:],param_list[1:]):
#     # Hänge neuen Datensatz an
#     print(df.shape)
#     df_base = pd.concat([df_base,df], axis = 0, ignore_index = True)
#     print(df_base.shape)
#     # Bestimmte alle bisherigen Duplikate
#     duplicate_rows = df_base.duplicated()
#     # Entferne die Duplikate
#     df_base = df_base.loc[~duplicate_rows,]
#     print(df_base.shape)
#     print("----")
#     # Hänge die neue Parameterliste an und entferne sofort die Duplikate
#     paramdf_base = pd.concat([paramdf_base, param], axis = 0, ignore_index = True).loc[~duplicate_rows,]
    
    
#   #  value_counts_pre_drop += paramdf_base['coefficientType'].value_counts()
# #    paramdf_base = paramdf_base.loc[~duplicate_rows,]
# #    value_counts_post_drop += paramdf_base['coefficientType'].value_counts()
    
# print("shape without duplicates: ")
# print(df_base.shape)
# print(paramdf_base.shape)

In [6]:
df_base = pd.concat(df_list,axis = 0,ignore_index = True)
paramdf_base = pd.concat(param_list,axis = 0,ignore_index = True)

print(df_base.shape)
print(paramdf_base.shape)
df_base.head()

(95022, 4801)
(95022, 3)

,0,1,2,3,4,5,6,7,8,9,...,4791,4792,4793,4794,4795,4796,4797,4798,4799,4800
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
del df_list
del param_list

In [8]:
# Zähle Koeffizientenfunktionen
value_counts_pre_drop = paramdf_base['coefficientType'].value_counts()
print(value_counts_pre_drop)

Random Blocks        29992
Blocks               26510
StripesNBlocks       18828
Completely Random    18444
Strip                 1236
Constant                12
Name: coefficientType, dtype: int64

In [9]:
# Schmeiße die Duplikate
duplicate_rows = df_base.duplicated()
print("shape with duplicates: ")
print(df_base.shape)
df_base = df_base.loc[~duplicate_rows,]
paramdf_base = paramdf_base.loc[~duplicate_rows,]
print("shape without duplicates: ")
print(df_base.shape)
print("Percentage of datapoints lost: " + str((100*sum(duplicate_rows)/len(duplicate_rows))) + "\%")
value_counts_post_drop = paramdf_base['coefficientType'].value_counts()
print(value_counts_post_drop)

shape with duplicates:
(95022, 4801)
shape without duplicates:
(91171, 4801)
Percentage of datapoints lost: 4.052745679947802\%
Blocks               26477
Random Blocks        26185
StripesNBlocks       18828
Completely Random    18444
Strip                 1236
Constant                 1
Name: coefficientType, dtype: int64

In [10]:
# Anzahl verloren gegangener Trainingspunkten
print(value_counts_post_drop-value_counts_pre_drop)

Blocks                -33
Completely Random       0
Constant              -11
Random Blocks       -3807
Strip                   0
StripesNBlocks          0
Name: coefficientType, dtype: int64

In [11]:
# value_counts_post_drop = paramdf_base['coefficientType'].value_counts()
# print(value_counts_post_drop)

In [12]:
# Exportiere Trainingsdaten
df_base.to_csv(os.path.join(train_data_path, "collection6_train_data_dump.csv"),index = False, header = False)
# Exportiere zugehörige Parameter
paramdf_base.to_csv(os.path.join(train_data_path, "collection6_parameter_dump.csv"),index = False, header = True)

In [13]:
df_base = pd.concat([paramdf_base,df_base], axis=1)
df_base.head()

,coefficientType,parameterNames,parameterValues,0,1,2,3,4,5,6,...,4791,4792,4793,4794,4795,4796,4797,4798,4799,4800
0,Constant,"affectedSubdomains,rhoMin,rhoMax,indexShiftx,i...","6,10,1,1000000,0,0,,,",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Random Blocks,"rhoMin,rhoMax,nBlocks,height,heightVariance,wi...","1000000,1,15,8,4,8,8,0,14",1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
9,Random Blocks,"rhoMin,rhoMax,nBlocks,height,heightVariance,wi...","1000000,1,15,8,4,8,8,0,14",0,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
10,Random Blocks,"rhoMin,rhoMax,nBlocks,height,heightVariance,wi...","1000000,1,15,8,4,8,8,0,14",0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,0
11,Random Blocks,"rhoMin,rhoMax,nBlocks,height,heightVariance,wi...","1000000,1,15,8,4,8,8,0,14",1,1,1,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0

### Konstante Koeffizienten

In [14]:
# coeff_fun_names = ["Constant","Strip","Blocks","Random Blocks","Completely Random","StripesNBlocks"]
df_constant = df_base.loc[df_base['coefficientType'] == "Constant",]
print(df_constant.shape)

(1, 4804)

In [15]:
df_constant.iloc[:,-1].describe()

count    1.0
mean     0.0
std      NaN
min      0.0
25%      0.0
50%      0.0
75%      0.0
max      0.0
Name: 4800, dtype: float64

### Streifen Koeffizientenfunktion

In [16]:
# coeff_fun_names = ["Constant","Strip","Blocks","Random Blocks","Completely Random","StripesNBlocks"]
df_strip = df_base.loc[df_base['coefficientType'] == "Strip",]
print(df_strip.shape)

(1236, 4804)

In [17]:
df_strip.iloc[:,-1].describe()

count    1236.000000
mean        0.472492
std         0.499445
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000
Name: 4800, dtype: float64

### Block Koeffizientenfunktion

In [18]:
# coeff_fun_names = ["Constant","Strip","Blocks","Random Blocks","Completely Random","StripesNBlocks"]
df_blocks = df_base.loc[df_base['coefficientType'] == "Blocks",]
print(df_blocks.shape)

(26477, 4804)

In [19]:
df_blocks.iloc[:,-1].describe()

count    26477.000000
mean         0.116365
std          0.320668
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: 4800, dtype: float64

### Random Block Koeffizientenfunktion

In [20]:
# coeff_fun_names = ["Constant","Strip","Blocks","Random Blocks","Completely Random","StripesNBlocks"]
df_randBlocks = df_base.loc[paramdf_base['coefficientType'] == "Random Blocks",]
print(df_randBlocks.shape)

(26185, 4804)

In [21]:
df_randBlocks.iloc[:,-1].describe()

count    26185.000000
mean         0.022303
std          0.147669
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: 4800, dtype: float64

### Random Koeffizientenfunktion

In [22]:
# coeff_fun_names = ["Constant","Strip","Blocks","Random Blocks","Completely Random","StripesNBlocks"]
df_random = df_base.loc[paramdf_base['coefficientType'] == "Completely Random",]
print(df_random.shape)

(18444, 4804)

In [23]:
df_random.iloc[:,-1].describe()

count    18444.000000
mean         0.381425
std          0.485750
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          1.000000
Name: 4800, dtype: float64

### Stripes and Blocks

In [24]:
# coeff_fun_names = ["Constant","Strip","Blocks","Random Blocks","Completely Random","StripesNBlocks"]
df_stripsNBlocks = df_base.loc[paramdf_base['coefficientType'] == "StripesNBlocks",]
print(df_stripsNBlocks.shape)

(18828, 4804)

In [25]:
df_stripsNBlocks.iloc[:,-1].describe()

count    18828.000000
mean         0.411993
std          0.492207
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          1.000000
Name: 4800, dtype: float64

In [26]:
del df_base

## Datensatz zusammensetzen

In [27]:
randomState = 0
shareConstant = 1
shareStrip = 1
shareBlocks = 0.3
shareRandBlocks = 0.9
shareRand = 0
shareStripsNBlocks = 0.5

In [28]:
df = pd.concat([df_constant.sample(frac = shareConstant,random_state = randomState),
                df_strip.sample(frac = shareStrip,random_state = randomState),
                df_blocks.sample(frac = shareBlocks,random_state = randomState),
                df_randBlocks.sample(frac = shareRandBlocks,random_state = randomState),
                df_random.sample(frac = shareRand,random_state = randomState),
                df_stripsNBlocks.sample(frac = shareStripsNBlocks,random_state = randomState)
               ], axis = 0, ignore_index = True)

print(df.shape)
df.head()

(42160, 4804)

,coefficientType,parameterNames,parameterValues,0,1,2,3,4,5,6,...,4791,4792,4793,4794,4795,4796,4797,4798,4799,4800
0,Constant,"affectedSubdomains,rhoMin,rhoMax,indexShiftx,i...","6,10,1,1000000,0,0,,,",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Strip,"height,nStrips,rhoMin,rhoMax,indexShifty","3,4,1,1000000,12,,,,",0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,0
2,Strip,"height,nStrips,rhoMin,rhoMax,indexShifty","1,4,1000000,1,6,,,,",0,0,1,1,1,1,1,...,0,0,1,1,1,1,0,0,0,1
3,Strip,"height,nStrips,rhoMin,rhoMax,indexShifty","4,3,1000000,1,8,,,,",1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,Strip,"height,nStrips,rhoMin,rhoMax,indexShifty","2,4,1000000,1,20,,,,",1,1,0,0,0,0,0,...,1,1,0,0,0,0,0,1,1,1

## Speichere Daten

In [29]:
# Exportiere Trainingsdaten
df.iloc[:,3:].to_csv(os.path.join(train_data_path, "training_dataset_ver6.csv"),index = False, header = False)
# Exportiere zugehörige Parameter
df.iloc[:,0:3].to_csv(os.path.join(train_data_path, "training_dataset_ver6_parameters.csv"),index = False, header = True)