# Preprocessing der Trainingsdaten

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import os
import numpy as np

print("Current working directory: " + os.getcwd())
train_data_path = os.path.join(os.getcwd(), "resources\\train_data\\")
print("Train data path: " + train_data_path)

Current working directory: /content
Train data path: /content/resources\train_data\

In [3]:
print("Current working directory: " + os.getcwd())
train_data_path = os.path.join(os.getcwd(), "drive/MyDrive/WR2 Brrr/Trainingsdaten_Proj3/")
print("Train data path: " + train_data_path)
# collection_path = '/content/drive/MyDrive/WR2 Brrr/Trainingsdaten_Proj3/collection4_train_data_dump.csv'
# collection_param_path = '/content/drive/MyDrive/WR2 Brrr/Trainingsdaten_Proj3/collection4_parameter_dump.csv'

Current working directory: /content
Train data path: /content/drive/MyDrive/WR2 Brrr/Trainingsdaten_Proj3/

## Datensätze laden

In [4]:
df_list = []
param_list = []
train_data_file_names = sorted([name for name in os.listdir(train_data_path) if 'train_data_dump' in name])
parameter_file_names = sorted([name for name in os.listdir(train_data_path) if 'parameter_dump' in name])
print(train_data_file_names)
print(parameter_file_names)

['2022-07-14-05-25-14-train_data_dump.csv', 'collection5_train_data_dump.csv']
['2022-07-14-05-25-14-parameter_dump.csv', 'collection5_parameter_dump.csv']

In [ ]:
for ind, (name_train, name_param) in enumerate(zip(train_data_file_names,parameter_file_names)):
    print("Datensatz Nummer " + str(ind+1))
    df_list.append(pd.read_csv(os.path.join(train_data_path, name_train), header = None))
    print(df_list[-1].shape)
    param_list.append(pd.read_csv(os.path.join(train_data_path, name_param), names = ["coefficientType","parameterNames","parameterValues"]))
    print(param_list[-1].shape)
    if param_list[-1].shape[0] > df_list[-1].shape[0]:
        print(param_list[-1].iloc[0,])
        param_list[-1] = param_list[-1].drop(0).reset_index(drop = True)
        print(param_list[-1].shape)

Datensatz Nummer 1
(30000, 4801)
(30000, 3)
Datensatz Nummer 2

In [ ]:
# bool_ind = param_list[0].coefficientType == "Random Blocks"
# rb_df = df_list[0].loc[bool_ind,]
# rb_param_df = param_list[0].loc[bool_ind,]
# print(rb_df.shape)
# print(rb_param_df.shape)
# df_list[0] = df_list[0].loc[~bool_ind,]
# print(df_list[0].shape)
# param_list[0] = param_list[0].loc[~bool_ind,]
# print(param_list[0].shape)

(50054, 4802)
(50054, 3)
(52590, 4802)
(52590, 3)

In [ ]:
# rb_sample = rb_df.sample(frac = 0.5)
# print(rb_sample.shape)
# rb_sample.head()

(25027, 4802)

,0,1,2,3,4,5,6,7,8,9,...,4792,4793,4794,4795,4796,4797,4798,4799,4800,4801
17091,NaN,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
29127,10593.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59237,40937.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
51247,32789.0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,0
71201,53115.0,0,0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,0,0

In [ ]:
# rb_param_sample = rb_param_df.loc[rb_sample.index,]
# print(rb_param_sample.shape)
# rb_param_sample.head()

(25027, 3)

,coefficientType,parameterNames,parameterValues
17091,Random Blocks,"rhoMin,rhoMax,nBlocks,height,heightVariance,wi...","1000000,1,15,16,12,16,16,4,10"
29127,Random Blocks,"nBlocks,height,heightVariance,width,widthVaria...","40,7,4,3,3,1,1000000,6,6"
59237,Random Blocks,"rhoMin,rhoMax,nBlocks,height,heightVariance,wi...","1,1000000,80,10,2,3,6,20,14"
51247,Random Blocks,"rhoMin,rhoMax,nBlocks,height,heightVariance,wi...","1,1000000,80,6,16,7,2,0,16"
71201,Random Blocks,"rhoMin,rhoMax,nBlocks,height,heightVariance,wi...","1,1000000,60,9,10,10,6,14,14"

In [ ]:
# df_list.append(rb_sample.copy())
# param_list.append(rb_param_sample.copy())

In [ ]:
# del rb_param_sample
# del rb_sample
# del rb_df
# del rb_param_df

## Assembliere die verschiedenen Ergebnisse anhand der Koeffizientenfunktion

In [ ]:
# Diesen Block nutzen falls es Speicherprobleme gibt. 
# Hier werden erst die Duplikate rausgeschmissen bevor die DataFrame verbunden werden.

# df_base = df_list[0]
# paramdf_base = param_list[0]
# # value_counts_pre_drop = paramdf_base['coefficientType'].value_counts()

# for df, param in zip(df_list[1:],param_list[1:]):
#     # Hänge neuen Datensatz an
#     print(df.shape)
#     df_base = pd.concat([df_base,df], axis = 0, ignore_index = True)
#     print(df_base.shape)
#     # Bestimmte alle bisherigen Duplikate
#     duplicate_rows = df_base.duplicated()
#     # Entferne die Duplikate
#     df_base = df_base.loc[~duplicate_rows,]
#     print(df_base.shape)
#     print("----")
#     # Hänge die neue Parameterliste an und entferne sofort die Duplikate
#     paramdf_base = pd.concat([paramdf_base, param], axis = 0, ignore_index = True).loc[~duplicate_rows,]
    
    
#   #  value_counts_pre_drop += paramdf_base['coefficientType'].value_counts()
# #    paramdf_base = paramdf_base.loc[~duplicate_rows,]
# #    value_counts_post_drop += paramdf_base['coefficientType'].value_counts()
    
# print("shape without duplicates: ")
# print(df_base.shape)
# print(paramdf_base.shape)

In [ ]:
df_base = pd.concat(df_list,axis = 0,ignore_index = True)
paramdf_base = pd.concat(param_list,axis = 0,ignore_index = True)

print(df_base.shape)
print(paramdf_base.shape)
df_base.head()

(238283, 4801)
(238283, 3)

,0,1,2,3,4,5,6,7,8,9,...,4791,4792,4793,4794,4795,4796,4797,4798,4799,4800
0,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,0

In [ ]:
del df_list
del param_list

In [ ]:
# Zähle Koeffizientenfunktionen
value_counts_pre_drop = paramdf_base['coefficientType'].value_counts()
print(value_counts_pre_drop)

Random Blocks        103403
Blocks                49222
StripesNBlocks        39976
Completely Random     27240
Strip                 18348
Constant                 94
Name: coefficientType, dtype: int64

In [ ]:
# Schmeiße die Duplikate
duplicate_rows = df_base.duplicated()
print("shape with duplicates: ")
print(df_base.shape)
df_base = df_base.loc[~duplicate_rows,]
paramdf_base = paramdf_base.loc[~duplicate_rows,]
print("shape without duplicates: ")
print(df_base.shape)
print("Percentage of datapoints lost: " + str((100*sum(duplicate_rows)/len(duplicate_rows))) + "\%")
value_counts_post_drop = paramdf_base['coefficientType'].value_counts()
print(value_counts_post_drop)

shape with duplicates:
(238283, 4801)
shape without duplicates:
(130208, 4801)
Percentage of datapoints lost: 45.35573246937465\%
Random Blocks        65186
Blocks               26510
StripesNBlocks       18828
Completely Random    18444
Strip                 1236
Constant                 4
Name: coefficientType, dtype: int64

In [ ]:
# Anzahl verloren gegangener Trainingspunkten
print(value_counts_post_drop-value_counts_pre_drop)

Random Blocks       -38217
Blocks              -22712
StripesNBlocks      -21148
Completely Random    -8796
Strip               -17112
Constant               -90
Name: coefficientType, dtype: int64

In [ ]:
# value_counts_post_drop = paramdf_base['coefficientType'].value_counts()
# print(value_counts_post_drop)

In [ ]:
# Exportiere Trainingsdaten
df_base.to_csv(os.path.join(train_data_path, "collection4_train_data_dump.csv"),index = False, header = False)
# Exportiere zugehörige Parameter
paramdf_base.to_csv(os.path.join(train_data_path, "collection4_parameter_dump.csv"),index = False, header = True)

In [ ]:
df_base = pd.concat([paramdf_base,df_base], axis=1)
df_base.head()

,coefficientType,parameterNames,parameterValues,0,1,2,3,4,5,6,...,4791,4792,4793,4794,4795,4796,4797,4798,4799,4800
0,Constant,"affectedSubdomains,rhoMin,rhoMax,indexShiftx,i...","6,10,1,1000000,0,0,,,",1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,Constant,"affectedSubdomains,rhoMin,rhoMax,indexShiftx,i...","6,10,1,1000000,0,0,,,",1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
2,Constant,"affectedSubdomains,rhoMin,rhoMax,indexShiftx,i...","6,10,1,1000000,0,0,,,",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Constant,"affectedSubdomains,rhoMin,rhoMax,indexShiftx,i...","6,10,1000000,1,0,0,,,",0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,0
8,Strip,"height,nStrips,rhoMin,rhoMax,indexShifty","-2,4,1000000,1,8,,,,",1,0,1,1,1,1,1,...,1,0,1,1,1,1,1,1,1,1

### Konstante Koeffizienten

In [ ]:
# coeff_fun_names = ["Constant","Strip","Blocks","Random Blocks","Completely Random","StripesNBlocks"]
df_constant = df_base.loc[df_base['coefficientType'] == "Constant",]
print(df_constant.shape)

(4, 4804)

In [ ]:
df_constant.iloc[:,-1].describe()

count    4.0
mean     0.0
std      0.0
min      0.0
25%      0.0
50%      0.0
75%      0.0
max      0.0
Name: 4800, dtype: float64

### Streifen Koeffizientenfunktion

In [ ]:
# coeff_fun_names = ["Constant","Strip","Blocks","Random Blocks","Completely Random","StripesNBlocks"]
df_strip = df_base.loc[df_base['coefficientType'] == "Strip",]
print(df_strip.shape)

(1236, 4804)

In [ ]:
df_strip.iloc[:,-1].describe()

count    1236.000000
mean        0.472492
std         0.499445
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000
Name: 4800, dtype: float64

### Block Koeffizientenfunktion

In [ ]:
# coeff_fun_names = ["Constant","Strip","Blocks","Random Blocks","Completely Random","StripesNBlocks"]
df_blocks = df_base.loc[df_base['coefficientType'] == "Blocks",]
print(df_blocks.shape)

(26510, 4804)

In [ ]:
df_blocks.iloc[:,-1].describe()

count    26510.000000
mean         0.116220
std          0.320495
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: 4800, dtype: float64

### Random Block Koeffizientenfunktion

In [ ]:
# coeff_fun_names = ["Constant","Strip","Blocks","Random Blocks","Completely Random","StripesNBlocks"]
df_randBlocks = df_base.loc[paramdf_base['coefficientType'] == "Random Blocks",]
print(df_randBlocks.shape)

(65186, 4804)

In [ ]:
df_randBlocks.iloc[:,-1].describe()

count    65186.000000
mean         0.045086
std          0.207495
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: 4800, dtype: float64

### Random Koeffizientenfunktion

In [ ]:
# coeff_fun_names = ["Constant","Strip","Blocks","Random Blocks","Completely Random","StripesNBlocks"]
df_random = df_base.loc[paramdf_base['coefficientType'] == "StripesNBlocks",]
print(df_random.shape)

(18828, 4804)

In [ ]:
df_random.iloc[:,-1].describe()

count    18828.000000
mean         0.411993
std          0.492207
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          1.000000
Name: 4800, dtype: float64

### Stripes and Blocks

In [ ]:
# coeff_fun_names = ["Constant","Strip","Blocks","Random Blocks","Completely Random","StripesNBlocks"]
df_stripsNBlocks = df_base.loc[paramdf_base['coefficientType'] == "StripesNBlocks",]
print(df_stripsNBlocks.shape)

(18828, 4804)

In [ ]:
df_stripsNBlocks.iloc[:,-1].describe()

count    18828.000000
mean         0.411993
std          0.492207
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          1.000000
Name: 4800, dtype: float64

In [ ]:
del df_base

## Datensatz zusammensetzen

In [ ]:
randomState = 0
shareConstant = 1
shareStrip = 1
shareBlocks = 0.3
shareRandBlocks = 0.3
shareRand = 0
shareStripsNBlocks = 0.5

In [ ]:
df = pd.concat([df_constant.sample(frac = shareConstant,random_state = randomState),
                df_strip.sample(frac = shareStrip,random_state = randomState),
                df_blocks.sample(frac = shareBlocks,random_state = randomState),
                df_randBlocks.sample(frac = shareRandBlocks,random_state = randomState),
                df_random.sample(frac = shareRand,random_state = randomState),
                df_stripsNBlocks.sample(frac = shareStripsNBlocks,random_state = randomState)
               ], axis = 0, ignore_index = True)

print(df.shape)
df.head()

(38163, 4804)

,coefficientType,parameterNames,parameterValues,0,1,2,3,4,5,6,...,4791,4792,4793,4794,4795,4796,4797,4798,4799,4800
0,Constant,"affectedSubdomains,rhoMin,rhoMax,indexShiftx,i...","6,10,1,1000000,0,0,,,",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Constant,"affectedSubdomains,rhoMin,rhoMax,indexShiftx,i...","6,10,1000000,1,0,0,,,",0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,0
2,Constant,"affectedSubdomains,rhoMin,rhoMax,indexShiftx,i...","6,10,1,1000000,0,0,,,",1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
3,Constant,"affectedSubdomains,rhoMin,rhoMax,indexShiftx,i...","6,10,1,1000000,0,0,,,",1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,Strip,"height,nStrips,rhoMin,rhoMax,indexShifty","3,4,1,1000000,12,,,,",0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,0

## Speichere Daten

In [ ]:
# Exportiere Trainingsdaten
df.iloc[:,3:].to_csv(os.path.join(train_data_path, "training_dataset_ver5.csv"),index = False, header = False)
# Exportiere zugehörige Parameter
df.iloc[:,0:3].to_csv(os.path.join(train_data_path, "training_dataset_ver5_parameters.csv"),index = False, header = True)